
    .void-space {
        text-align: center;
        height: 3em;
        opacity: 0;
    }

    .validation-errors {
        color: red;
        font-size: 1em;
        margin-top: 1.2em;
    }    

    .user-img {
        border-radius: 50%;
    }

    textarea {
        height: 3em;
        color: black;
        resize: vertical;
    }

    .logo {
        position: fixed;
    }

    .copyrights {
        position: sticky;
        z-index: 3;
        margin: 0;
        /* margin-top: 2.5em; */
        padding-left: 2%;
        /* margin-top: auto; */
    }

    body {
        background-color: #253341;
        margin-left: 15%;
    }

    /* ---------- */
    .sidenav {
        /* margin-top: 10%; */
        height: 100%;
        width: 17%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 10%;
    }

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .main {
        min-height: 29.8em;
        color: white;
        margin-left: 5%; /* Same as the width of the sidenav */
        overflow-x: auto;
    }

    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }

    tr:nth-child(even){
        background-color: #394756;
    }

    /* tr:nth-child(odd){
        background-color: red;
    } */

    .btn-order {
        background-color: #394756;
        color: white;
        border: none;
        padding: 2px;
        padding-left: 4px;
        padding-right: 4px;
        margin: 2px;
        margin-left: 15px;
    }

    .btn {
        height: 25px;
        font-size: 12px;
        text-align: center;
    }

    .filter-bar {
        margin-top: 1em;
        margin-bottom: 1em;
        color : black;
    }

    th {
        /* min-width: 10em; */
        white-space: nowrap;
    }

    td {
        max-width: 15em;
        word-wrap: break-word;
    }

    #create_button {
        margin-left: 1.5em;
    }

    table {
        margin-top: 1.5em;
        width: 100%;
        max-width: 800px;
        /* overflow-x: scroll; */
        /* border-collapse: separate; */
        /* border-width: 20px; */
        /* border-color: black; */
    }

    .responsive-sidenav {
        margin: 5%;
        display: none;
        z-index: 200;
        /* position: absolute; */
    }

    .responsive-sidenav .dropbtn {
        background-color: #111;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        /* position: absolute; */
    }

    .responsive-sidenav .dropdown {
        position: relative;
        display: inline-block;
    }

    .responsive-sidenav .dropdown-content {
        display: none;
        position: absolute;
        background-color: #111;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .responsive-sidenav .dropdown-content a {
        position: relative;
        display: block;
        columns: 1;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
    }

    .responsive-sidenav .dropbtn:hover, .dropdown-content a:hover {
        background-color: #394756;
    }

    .pagination {
        padding-bottom: 5%;
    }

    .responsive-pagination {
        display: none;
    }

    @media screen and (max-width: 1000px) {
        .responsive-sidenav {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        .sidenav {
            display: none;
        } 

        .logo {
            /* display: none; */
            position: absolute;
            left: 40%;
        }

        .main {
            margin-left: 0;
            padding-left: 5%;
        }

        body {
            margin-left: 0;
        }

        .pagination {
            padding-top: 10%;
        }

        .responsive-pagination {
            display: block;
        }

    }

    h2 {
        color: white;
    }

    .editable-form {
        font-weight: normal;
    }

    .label-cell {
        font-weight: normal;
    }

    input {
        color: black;
        padding: 0%;
    }

    select {
        color: black;
        /* height: 7vh; */
        /* height: 100%;
        max-height: 100%;
        overflow-y: auto; */
    }

    .button {
        padding: 0.8em;
        border-radius: 5%;
    }

    .button:hover {
        opacity: 95%;
    }

    /* @media (max-width: 800px) {
        th, td {
            display: block;
            width: 100%;
        }
    } */
